<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--EJS creating todo's-->
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
        <!--if the element matches the microsoftID  then add li-->
        <% if(el.microsoftId === user.microsoftId){  %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <!-- if the element has class completed, then add class completed, else add it to todo? -->
                <span class='<%= el.completed === true 
                <!--? 'completed' : 'not'%>'><%= el.todo %></span>
                    <!-- delete button-->
                <span class='del'> Delete </span>
            </li>
        <% }  %>
    <% }) %>    
    </ul>
    <!-- Display of the username -->
    <h2><%= user.displayName %> has <%= left %> things left to do.</h2>
    <!-- form -->
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="../auth/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>